* {
	background-color: #f2f2f2;
}

body {
	padding: 0;
	margin: 0;
	font-family: helvetica;
}

p {
	color: #727272;
}

li {
	color: #727272;
}

#logo {
	height: 100.48px;
	width: 251.25px;
}

#nav {
	clear: both;
	overflow: hidden;
	background-color: #ce8080;
	padding: 0.75ex;
	border-top: solid 2px #c15b5b;
	border-bottom: solid 2px #c15b5b;
}

#nav a{
	background-color: #ce8080;
	color: #f2f2f2;
	padding: 0.75ex;
	text-decoration: none;
}

#dir {
	float: left;
	width: 200px;
	border-right: dotted 2px #939393;
}

#dir li{
	list-style: none;
}

#dir a{
	text-decoration: none;
	color: #727272;
}

#main {
	margin-left: 225px;
	max-width: 50em;
}
